.top {
    display: flex;
    .savat {
        i {
            color: #fff;
            font-size: 24px;
            margin-left: 10px;
            margin-top: 55px;
        }
    }
}

.aa {
    .bb {
        .div {
            // background-color: red;
            border-radius: 10px;
            border: 1px solid rgb(85, 85, 85);
            padding: 20px;
            img {
                border-radius: 10px;
                margin-bottom: 20px;
            }
            .p {
                color: white;
                font-size: 18px;
                margin-bottom: 10px !important;
            }
            .p2 {
                display: inline;
                color: white;
                border: 1px solid rgb(85, 85, 85);
                padding: 6px 15px;
                border-radius: 15px;
            }
            .p3 {
                color: gray;
                font-size: 14px;
                // margin-top: 20px;
                ;
            }
            .p4 {
                color: white;
            }
            .btn {
                border: none;
                background-color: #2416a3;
                color: #fff;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
                transition: 0.3s;
            }
            .div1 {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .btns {
        // display: block;
        width: 80%;
        border: 1px solid #9e9e9e;
        height: 290px;
        padding: 10px 0px;
        border-radius: 10px;
        // padding-right: 20px;

        button {
            display: block;
            width: 100%;
            margin-top: 12px;
            font-size: 18px;
            background: linear-gradient(to right, rgb(37, 37, 37), #131313);
            padding: 5px 0px;
            padding-left:  10px;
            padding-right: 20px;
            border-left: 3px solid transparent;
            transition: .3s;
            text-align: start;

        }
        button:focus {
            border-left: 3px solid #1138b6;
        }
    }
}

#shoping {
    display: none;
    width: 80%;
    margin: auto;
    height: 80vh;
    background-color: rgb(28, 92, 44);
    text-align: center;
    h1 {
        font-size: 72px;
        font-family: sans-serif;
        color: white;
        text-align: center;
        margin-top: 50px;
    }
    p {
        color: rgba(255, 255, 255, 0.604);
        text-align: center;
        margin-top: 20px;
        font-size: 29px;
    }
    button {
        border: none;
        width: 300px;
        
        background-color: #2416a3;
        color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;
        margin-top: 20px;
    }
}

